[
    {elvis, [
        {config, [
            #{
                dirs => ["src"],
                filter => "*.erl",
                rules =>
                    [
                        {elvis_style, no_spec_with_records, #{ignore => [kal]}},
                        {elvis_text_style, line_length, #{ignore => [kal]}}
                    ],
                ruleset => erl_files
            },
            #{
                dirs => ["."],
                filter => "rebar.config",
                ruleset => rebar_config
            },
            #{
                dirs => ["."],
                filter => "elvis.config",
                ruleset => elvis_config
            }
        ]}
    ]}
].
