{erl_opts, [no_debug_info]}.

{escript_incl_apps, [kal]}.
{escript_main_app, kal}.
{escript_name, kal}.
{escript_emu_args, "%%! +sbtu +A1\n"}.

{project_plugins, [{rebar3_lint, "3.2.3"}]}.

{post_hooks, [
    {"(linux|darwin|solaris|freebsd|netbsd|openbsd)", escriptize,
        "cp \"$REBAR_BUILD_DIR/bin/kal\" ./kal"},
    {"win32", escriptize,
        "robocopy \"%REBAR_BUILD_DIR%/bin/\" ./ kal* " "/njs /njh /nfl /ndl & exit /b 0"}
]}.

{profiles, [
    {test, [
        {erl_opts, [debug_info]}
    ]},
    {rus, [
        {erl_opts, [{d, 'RUSSIAN'}]}
    ]}
]}.
